<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <style>
            .flashes{
                color:red;
            }
        </style>
    </head>
<body>

    <div>
        <a href ='/blog'>Main Blog Page</a>
    </div>

    <div>
        <a href = '/add-a-blog-entry'>Add a Blog Entry</a>
    </div>
    <div style='float: right'>
        {% if 'user' in session %}
          {{ session['user'] }}
          <form action="/logout" method="post" id='logout'>
            <input type="submit" value="Log Out" />
          </form>
        {% else %}
          <a href="login">login</a> | <a href="register">register</a>
        {% endif %}
    </div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
         {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}

</body>
</html>