{% extends "base.html" %}

{% block content %}
    <h1>All Posts</h1>
    <div>
        <a href='/signup'>Sign Up!</a>
    </div>
    <div>
        <a href ='/add-a-blog-entry'>New Post</a>
    </div>
    {% for blog in blogs %}
        <div>
            <h3><a href='/blog?id={{blog.id}}'>{{blog.title}}</a></h3>
        </div>
            <p >{{blog.body}}</p>
        <div>
            <h4>written by<a href='blog?user={{blog.owner_id}}'>{{blog.owner_id.user_name}}</a></h4>
        </div>
            
    {% endfor %}



{% endblock %}